<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" parallel="tests">
    <!--
    <test verbose="2" preserve-order="true" name="/Users/yangwang/IdeaProjects/MavenSeleiumTestNG">
        <classes>
            <class name="com.ada.WebdriverDemo.NewTest">
                <methods>
                    <include name="testEasy"/>
                </methods>
            </class>
        </classes>
    </test>
    -->
    <test name="ChromeTest">
            <parameter name="browser" value="Chrome">
                <classes>
                    <class name="com.ada.WebdriverDemo.CrossBrowserTest"></class>
                </classes>
            </parameter>
    </test>
    <test name="FirefoxText">
        <parameter name="browser" value="Firfox">
            <classes>
                <class name="com.ada.WebdriverDemo.CrossBrowserTest"></class>
            </classes>
        </parameter>
    </test>
</suite>